.comment(layout='column' flex)
  div(layout='row')
    div(
      flex
      ng-bind="comment.content"
    )
    md-button.md-icon.md-mini.md-icon-button(
      ng-if="!opened"
      ui-sref="base.open({openStack: comment.idPath})"
    )
      md-icon comment
    md-button.md-icon.md-mini.md-icon-button.md-accent(
      ng-if="opened"
      ng-click="pop()"
    )
      md-icon comment
  md-divider(ng-if="!opened && !last")
  .comment-block(
    ng-if="opened"
    layout="column"
    md-whiteframe="5"
  )
    div(
      ng-repeat="comment in comment.comments"
      comment="comment"
      open-stack="openStack"
      last="$last"
    )
    comment-input(object="comment")
